/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@url pinionIcon pinionIcon;
@eval expanderColor org.eclipse.che.ide.api.theme.Style.theme.loaderExpanderColor();
@eval iconBackgroundColor org.eclipse.che.ide.api.theme.Style.theme.loaderIconBackgroundColor();
@eval borderColor org.eclipse.che.ide.api.theme.Style.theme.getMainMenuSelectedBorderColor();
@eval operationBoxColor org.eclipse.che.ide.api.theme.Style.theme.getToolbarBackgroundColor();
@eval errorColor org.eclipse.che.ide.api.theme.Style.theme.getErrorEventColor();
@eval progressColor org.eclipse.che.ide.api.theme.Style.theme.loaderProgressStatusColor();
@eval disabledColor org.eclipse.che.ide.api.theme.Style.theme.getDisabledMenuColor();
@eval mainFontColor org.eclipse.che.ide.api.theme.Style.theme.getMainFontColor();

.errorStatusLabel {
    color: errorColor;
    font-weight: bold;
    float: left;
}

.inProgressStatusLabel {
    color: progressColor;
    font-weight: bold;
    float: left;
}

.progressBarErrorStatus {
    background-color: errorColor;
    height: 2px;
    display: block;
    position: relative;
    left: 0;
    top: 19px;
}

.progressBarInProgressStatus {
    background-color: progressColor;
    height: 2px;
    display: block;
    position: relative;
    left: 0;
    top: 19px;
}

.iconPanelErrorStatus {
    line-height: 24px;
    background-color: iconBackgroundColor;
}

.iconPanelErrorStatus svg {
    float: left;
    height: 12px;
    width: 12px;
    padding: 6px 7px 4px 10px;
    fill: errorColor !important;
    background-color: inherit;
}

.errorStatus {
    fill: errorColor !important;
    color: errorColor !important;
}

.errorStatus svg,
.errorStatus:hover svg {
    float: left;
    height: 12px;
    width: 12px;
    padding: 6px 7px 0px 0px;
    fill: errorColor !important;
}

.completedStatus > div {
    color: mainFontColor;
}

.completedStatus > svg {
    float: left;
    padding: 6px 7px 0px 0px;
}

.waitStatus > div {
    color: disabledColor;
    padding: 0px 0px 0px 19px;
}

.inProgressStatus > div {
    color: progressColor;
}

.inProgressStatus > svg {
    float: left;
    padding: 8px 7px 0px 0px;
}

.statusPanel {
    margin-top: auto;
    display: inline;
    float: left;
    width: 61px;
    height: 100%;
    line-height: 24px;
    background-color: iconBackgroundColor;
}

.iconPanel {
    float: left;
    width: 29px;
    height: 100%;
    margin-top: auto;
    line-height: 24px;
    background-color: iconBackgroundColor;
}

.iconPanel > svg rect {
    fill: progressColor;
}

.iconPanel > svg {
    margin-top: -2px;
    width: 16px;
    height: 22px;
    padding: 3px 0;
}

.operationPanel {
    margin-top: auto;
    display: inline;
    float: left;
    width: 215px;
    height: 100%;
    line-height: 24px;
}

.operations {
    position: fixed;
    min-width: 229px;
    text-align: left;
    background-color: operationBoxColor;
    padding-left: 15px;
    border: 1px solid borderColor;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.currentOperation {
    min-width: 215px;
    height: inherit;
    background-color: inherit;
    border: none;
    line-height: 22px;
}

.expandedIcon {
    float: right;
    transform: scaleY(0.5) rotate(90deg);
    margin-right: 5px;
    margin-top: 1px;
}

.expandedIcon svg {
    width: 12px;
    height: 12px;
    fill: expanderColor;
}

.expandedIcon:hover svg {
    fill: expanderColor;
}
