/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/

/* TODO we have to merge AutocompleteComponents.css here */

.popup {
    position: absolute;
    z-index: 1;
    border: 1px solid completionPopupBorderColor;
    background-color: completionPopupBackgroundColor;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
    resize: both;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

.header {
    background-color: completionPopupHeaderBackgroundColor;
    font-family: mainFontFamily;
    line-height: 18px;
    font-size: 11px;
    padding-left: 7px;
    color: completionPopupHeaderTextColor;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 18px;
}

.body {
    overflow: auto !important;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 19px;
}

.body > ul,
.body > ulist {
    position: absolute;
    width: 100%;
}

.item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    outline: none;
    border-left: 1px solid transparent;
}

.item[selected="true"],
.item:FOCUS {
    background: completionPopupSelectedItemBackgroundColor !important;
}

.item:HOVER {
    border-left: 1px solid #4EABFF;
    background-color: completionPopupSelectedItemBackgroundColor;
}

.icon {
    min-width: 18px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
}

.icon img {
    width: 16px;
    height: 16px;
    margin-left: 1px;
    margin-top: 1px;
}

.icon svg {
    width: 18px;
    height: 18px;
    position: relative;
    left: 0px;
    top: 0px;
    transform-origin: 0px 0px 0px;
}

.label {
    font-family: mainFontFamily;
    line-height: 16px;
    font-size: 13px;
    cursor: default;

    color: completionPopupItemTextColor;
}

.label span {
    color: completionPopupItemSubtitleTextColor !important;
}
