/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@external .zeroclipboard-is-hover;

#global-zeroclipboard-html-bridge {
    color: transparent;
}

.clipboardButton {
    top: 0;
    width: 16px;
    height: 24px;
    border: none;
    float: left;
    color: inherit;
    cursor: pointer;
    background: none;
    position: relative;
    display: inline-block;
}

.clipboardButton svg {
    width: 18px;
    height: 100%;
}

.clipboardButton span {
    display: none;
    position: absolute;
    cursor: default;
    top: 28px;
    left: 0;
    padding: 8px;
    font-size: 8pt;
    font-weight: normal;
    white-space: nowrap;
    background: #202020;
    font-family: mainFontFamily;
    z-index: 9999999;
}

.clipboardButton span:after {
    content: " ";
    width: 0;
    height: 0;
    border: 9px solid;
    border-color: transparent transparent #202020 transparent;
    position: absolute;
    top: -15px;
    left: 1px;
}

div.clipboardButton {
    margin: 1px 0 0 0;
}

div.clipboardButton:hover,
div.clipboardButton.zeroclipboard-is-hover {
    background: #202020;
}

.clipboardButton:hover span,
.clipboardButton.zeroclipboard-is-hover span,
.clipboardButton:hover span:after,
.clipboardButton.zeroclipboard-is-hover span:after {
    display: inline;
}
