/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
/****************************************************************************************
   POPUP MENU
 ****************************************************************************************/
.popupMenuMain {
    background-color: popupBkgColor;
    position: absolute;
    box-shadow: 0px 2px 2px 0px popupShadowColor;
    border-radius: 0px 0px 3px 3px;
}

.popupMenuTable {
    border: 1px solid popupBorderColor;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 0px 0px 3px 3px;
}

.popupMenuCheckField,
.popupMenuCheckFieldDisabled,
.popupMenuIconField,
.popupMenuIconFieldDisabled,
.popupMenuTitleField,
.popupMenuTitleFieldDisabled,
.popupMenuHotKeyField,
.popupMenuHotKeyFieldDisabled,
.popupMenuSubMenuField,
.popupMenuSubMenuFieldDisabled {
    height: 20px;
    cursor: default;
    font-weight: normal;
    font-style: normal;
    font-size:  fontPopupSize;
    font-family: mainFontFamily;
    vertical-align: middle;
}

.popupMenuDelimiter,
.popupMenuTextDelimiter {
    cursor: default;
}

.popupMenuDelimiter {
    width: 100%;
    height: 1px;
    background-color: popupBorderColor;
}

.popupMenuTextDelimiter {
    background: editorPanelBackgroundColor;
}

.popupMenuTextDelimiter > div {
    display: inline-block;
    line-height: 20px;
    margin-left: 14px;
    margin-bottom: 0;
}

.popupMenuCheckField,
.popupMenuCheckFieldDisabled {
    width: 9px;
    padding-left: 1px;
    padding-right: 3px;
}

.popupMenuIconField,
.popupMenuIconFieldDisabled {
    width: 26px;
    text-align: center;
    vertical-align: middle;
}

.popupMenuIconField svg,
.popupMenuIconFieldDisabled svg {
    width: menuIconSize;
    height: menuIconSize;
    fill: toolbarIconColor;
    margin-top: 2px;
}

.popupMenuIconField path,
.popupMenuIconFieldDisabled path {
    fill: toolbarIconColor;
}

.popupMenuSubMenuField,
.popupMenuSubMenuFieldDisabled {
    width: 10px;
}

.popupMenuSubMenuField svg,
.popupMenuSubMenuFieldDisabled svg {
    fill: toolbarIconColor;
    width: 7px;
    height: 7px;
}

.popupMenuSubMenuField path,
.popupMenuSubMenuFieldDisabled path {
    fill: toolbarIconColor;
}

.popupMenuIconFieldDisabled {
    opacity: 0.6;
}

.popupMenuHotKeyField,
.popupMenuHotKeyFieldDisabled {
    width: 10px;
    padding-left: 6px;
    padding-right: 6px;
    color: popupHotKeyColor;
}

.popupMenuItemOver {
    background-color: popupHoverColor;
}

.popupMenuItemOver:last-child td:first-child {
    border-bottom-left-radius: 2px;
}
.popupMenuItemOver:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

.popupMenuIconFieldDisabled,
.popupMenuTitleFieldDisabled,
.popupMenuHotKeyFieldDisabled,
.popupMenuSubMenuFieldDisabled,
.popupMenuSubMenuFieldDisabled svg {
    color: disabledMenuItemColor;
    fill: disabledMenuItemColor;
}

.popupMenuSubMenuFieldDisabled path {
    fill: disabledMenuItemColor;
}