/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
/* Annotated CSS for the KeyBindings dialog. */
@url findIcon findIcon;

.item {
    display: inline-block;
}

.floatRight {
     float: right;
 }

.hotKey {
    pointer-events: none;
}

.emptyBorder {
    margin: 6px;
}

.blackBorder > div {
    border: 1px solid #121416;
    font-family: "Open Sans", sans-serif;
}

.filter {
    margin:3px;
    text-align: start;
    height: literal("calc(100% - 12px)");
    min-height: 20px;
    width: literal("calc(100% - 39px)");
    background-image: findIcon;
    background-repeat:no-repeat;
    background-position: left;
    padding-left: 25px;
}

.categories div > span {
    float: none;
}

.categories div > span + div {
    float: left;
    width: inherit;
}

.description {
    margin-left: 10px;
}

