/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
.expandedImage {
    transform: scaleY(0.5) rotate(90deg);
    margin-left: 3px;
    margin-top: 1px;
}

.expandedImage svg {
    width: 12px;
    height: 12px;
    fill: selectCommandActionColor;
}

.expandedImage:hover svg {
    fill: selectCommandActionHoverColor;
}

.onMouseOver,
.onMouseOut,
.onClick {
    height: 100%;
}

.onMouseOut {
    color: selectCommandActionColor;
}

.onMouseOver {
    color: selectCommandActionHoverColor;
}

.onClick {
    color: selectCommandActionHoverColor;
    background-color: hoverBackgroundColor;
}

.dropDownListMenu > table {
    min-width: 148px;
}

.dropDownListMenu > table > tbody > tr > td {
    padding: 0;
}

.dropDownListMenu > table > tbody > tr > td > div {
    margin-left: 10px;
    text-transform: uppercase;
}

.dropDownListMenu > table > tbody > tr > td:first-child {
    width: 16px;
}

.dropDownListMenu > table > tbody > tr > td:last-child {
    width: 0;
}
