/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
/* CSS for AutocompleteComponent.java */


.container {
    box-sizing: border-box;
    border: 1px solid completionPopupBorderColor;
    background-color: completionPopupBackgroundColor;
    -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
    padding: 5px 0 5px 10px;
    min-width: 150px;
    max-width: 450px;
    overflow-x: auto !important;
}

.items {
    border-width: 0;
    border-spacing: 0;
    width: 100%;
}

.proposalIcon {
    max-width: 16px;
}

.proposalIcon img {
    vertical-align: middle;
}

.proposalIcon svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.proposalLabel {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: mainFontColor;
    font-family: mainFontFamily;
}
.proposalGroup {
    padding-left: 5px;
    color: grey;
    text-align: right;
    max-width: 250px;
}
