/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@external .inputError;

.mainPanel {
    margin: 0;
    border: none !important;
    height: 100%;
}

.leftPart {
    margin: 10px;
    font-size: 12px;
}

.rightPart {
    border-left: 1px solid popupBorderColor;
    margin-left: 1px;
}

.rightPart > div {
    margin-left: 12px;
    margin-right: 12px;
}

.namePanel {
    margin-top: 5px;
    overflow: hidden;
    display: block;
}

.labelPosition {
    position: relative;
    margin-right: 9px;
    font-weight: bold;
    margin-top: 10px;
    float: left;
}

.inputFieldPosition {
    float: left;
    width: literal("calc(100% - 12px)");
    min-height: 22px;
}

.labelTitle {
    line-height: 35px;
    font-weight: bold;
    font-size: largeLabel;
}

.categories {
    margin: 2px 0px 1px 1px;
    border: 1px solid popupBorderColor;
}

.description {
    color: textFieldColor;
    font-size: textFieldFontSize;
    font-family: textFieldFontFamily;
}

.configuration {
    margin-right: 10px;
    font-size: 11px;
}

.configuration > p {
    margin: 0px 0px 2px 10px;
}

.label {
    margin-top: 5px;
    font-weight: bold;
    font-size: largeLabel;
}

.inputError {
}
