/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/


/*******************************************************************************
 *
 * Panels where tab-buttons created
 *
 *******************************************************************************/
.ide-work-bench-tool-panel-left,
.ide-work-bench-tool-panel-right,
.ide-work-bench-tool-panel-bottom {
    position: relative;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background-color: tabsPanelBackground;
}

.ide-work-bench-tool-panel-left {
    width: 24px;
    border-right: 1px solid tabBorderColor;
    padding-top: 26px;
}

.ide-work-bench-tool-panel-right {
    width: 24px;
    border-left: 1px solid tabBorderColor;
    padding-top: 31px;
}

.ide-work-bench-tool-panel-bottom {
    height: 24px;
    border-top: 1px solid tabBorderColor;
}

.ide-work-bench-parent-panel {
    opacity: 1;
}

svg[name="workBenchIconMinimize"] {
    margin: 1px 1px;
    width: 8px;
    height: 8px;
}

svg[name="workBenchIconMinimize"],
svg[name="workBenchIconMinimize"] g {
    fill: minimizeIconColor;

    -webkit-transition: color 0.1s ease-in-out,
                fill 0.1s ease-in-out,
                stroke 0.1s ease-in-out;
    transition: color 0.1s ease-in-out,
                fill 0.1s ease-in-out,
                stroke 0.1s ease-in-out;
}

svg[name="workBenchIconMinimize"]:HOVER,
svg[name="workBenchIconMinimize"]:HOVER g {
    fill: minimizeIconHoverColor;
}

.ide-work-bench-split-panel-left svg[name="workBenchIconMinimize"] {
}

.ide-work-bench-split-panel-right svg[name="workBenchIconMinimize"] {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ide-work-bench-split-panel-bottom svg[name="workBenchIconMinimize"] {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
