/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@def menuListBorderPx 1px;
@def listItemTopPadding 2px;
@def listItemBottomPadding 2px;
@def listItemLeftPadding 16px;
@def listItemRightPadding 44px;

.listBase {
    background: textFieldBackgroundColor;
    border: 1px solid textFieldBorderColor;
    outline: none;
    white-space: nowrap;
}

.listContainer {
    overflow-y: auto;
    overflow-x: hidden;
}

.listItem {
    padding: listItemTopPadding listItemRightPadding listItemBottomPadding listItemLeftPadding;
    color: textFieldColor;
    font-size: textFieldFontSize;
    font-family: textFieldFontFamily;
    cursor: default;
    margin: 0;
}

    /* For tables, the <tr> (which would be the listItem) cannot have padding */
.listItem>td {
    padding-top: listItemTopPadding;
    padding-bottom: listItemBottomPadding;
}

.listItem>td:first-child {
    padding-left: 0px;
}

.listItem>td:last-child {
    padding-right: listItemLeftPadding;
}

.listItem[selected], .listItem:hover {
    color: mainMenuFontColor;

    -moz-transition: background 0s;
    -webkit-transition: background 0s;
    transition: background 0s;
}

.listItem[selected] {
    background-color: selectionBackground;
}

.listItem:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    cursor: pointer;
}
