/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
.cellTreeItem {
    font-family: alternativeFontFamily;
    height: 20px;
    cursor: default;
    list-style-type: none;
    display: block;
    margin-top: 2px;
    font-size: 11px;
    white-space: nowrap;
}

.cellTreeEmptyMessage{
}

.cellTreeItemImage{
}

.cellTreeItemImageValue{
}

.cellTreeItemValue > svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    pointer-events: none;
    display: inline-block;
    overflow: hidden;
}

.cellTreeItemValue:focus {
    outline: none !important;
}

.cellTreeKeyboardSelectedItem{
    background: cellKeyboardSelectedRow;
}

.cellTreeOpenItem{
}

.cellTreeSelectedItem{
    background: selectionBackground;
}

.cellTreeSelectedItem{
}

.cellTreeShowMoreButton{

}

.cellTreeTopItem:first-child{
}

.cellTreeTopItemImage{

}

.cellTreeTopItemImageValue{

}

.cellTreeWidget{
}