/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@external .inputError;

.mainPanel {
    margin-top: 5px;
}

.mainPanel > div > div > div {
    margin-left: 12px;
    margin-right: 12px;
}

.namePanel .inputField {
    width: literal("calc(100% - 12px)");
    min-height: 22px;
}

.horizontalLine {
    border-top: 1px solid popupBorderColor;
    margin: 0 !important;
    width: 100%;
}

.marginTop {
    margin-top: 10px;
}

.label {
    font-weight: bold;
    line-height: 35px;
    font-size: largeLabel;
}

.labelPosition,
.labelErrorPosition {
    position: relative;
}

.labelPosition {
    font-weight: bold;
}

.labelErrorPosition {
    color: errorEventColor;
    font-weight: lighter;
    text-align: center;
    float: left;
}

.description {
    font-size: fontSize;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.checkBoxPosition {
    position: relative;
    float: left;
}

.namePanel {
    overflow: visible;
    width: inherit;
}

.namePanel .labelPosition {
    display: block;
}

.inputError {
}
