/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@url loader loader;

.buttonLoader > i {
    background-image: loader;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    background-size: cover;
    -webkit-animation: barrelRoll 1s infinite linear;
    -moz-animation: barrelRoll 1s infinite linear;
    animation: barrelRoll 1s infinite linear;
}

@-webkit-keyframes barrelRoll {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes barrelRoll {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes barrelRoll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}