/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@def menuListBorderPx 1px;
@def listHeaderLeftPadding 10px;
@def listHeaderRightPadding 5px;
@def listItemLeftPadding 24px;
@def listItemRightPadding 44px;

.rootPanel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: categoriesListItemBackgroundColor;
}

.scrollPanel {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: textFieldFontSize;
    font-family: textFieldFontFamily;
}

.lockPanel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.categoryItem {
    padding: 0 listItemRightPadding 0 listItemLeftPadding;
    color: categoriesListItemTextColor;
    cursor: default;
    margin: 0;
    transition: background 0.1s;
}

/* For tables, the <tr> (which would be the listItem) cannot have padding */
.categoryItem > td {
    padding-top: listItemTopPadding;
    padding-bottom: listItemBottomPadding;
}

.categoryItem > td:first-child {
    padding-left: 0;
}

.categoryItem > td:last-child {
    padding-right: listItemLeftPadding;
}

.categoryItem[selected] {
    background-color: selectionBackground;
}

.category {
    display: inline;
    line-height: 18px;
    color: categoriesListItemTextColor;
    background-color: categoriesListItemBackgroundColor;
}

.categoryLabel {
    float: left;
    font-weight: bold;
    margin-left: 4px;
}

.itemContainer, .expandControl {
    outline: 0;
}

.expandControl {
    float: right;
    width: 15px;
    height: inherit;
    transition: all 200ms;
    display: inline-block;
    line-height: inherit;
    text-align: center;
}

.expandControl svg {
    display: inline-block;
    fill: categoriesListHeaderIconColor;
    height: 8px;
    width: 8px;
}

.categoryHeader {
    height: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: categoriesListHeaderTextColor;
    background-color: categoriesListHeaderBackgroundColor;
    padding: 0 listHeaderRightPadding 0 listHeaderLeftPadding;
}

.expandedImage {
    transform: rotate(90deg);
}

.headerText svg {
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 5px;
    fill: categoriesListHeaderIconColor;
}

.headerText {
    float: left;
    white-space: nowrap;
}

.headerText > span {
    text-transform: uppercase;
    margin-left: 1px;
}
