/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
.listBox {
    display: inline-block;
    border: 1px solid textFieldBorderColor;
    background-color: textFieldBackgroundColor;
    font-size: textFieldFontSize;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 !important;
    border-radius: 0;
    position: relative;
    outline: none;
    width: 100px;
    height: 22px;
    margin: 0;
}

.listBox label {
    font-size: inherit;
    font-weight: inherit !important;
    vertical-align: bottom;
    white-space: nowrap;
    color: listBoxColor;
    padding-left: 8px;
    display: inline;
}

.listBox > label {
    margin-right: 22px;
    line-height: 22px;
}

.listBox span > label {
    width: literal("calc(100% - 8px)");
    margin-right: 0 !important;
    display: inline-block;
    line-height: inherit;
    height: 100%;
}

.listBox label::before {
    display: none !important;
}

.listBox svg:last-child {
    fill: listBoxColor;
    position: absolute;
    height: inherit;
    width: 8px;
    right: 7px;
    top: 1px;
}

.listBox div input {
    display: none;
}

.listBox div span {
    display: inline-block;
    line-height: inherit;
    width: 100%;
}

.listBox:focus div {
    display: inline-block;
}

.listBox div {
    background-color: listBoxDropdownBackgroundColor;
    box-shadow: listBoxDropdownShadowColor;
    border: 1px solid textFieldBorderColor;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: none;
    z-index: 9999998;
    line-height: 22px;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    max-height: 110px;
    overflow-y: auto;
}

.listBox div span:hover {
    background-color: popupHoverColor;
}

.listBox[disabled] {
    background-color: listBoxDisabledBackgroundColor;
}

.listBox[disabled] label {
    color: listBoxDisabledColor;
}

.listBox[disabled] svg {
    fill: listBoxDisabledColor;
}

.listBox[disabled] div {
    display: none !important;
}
