/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/

.glass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    z-index: 9999998 !important;
    background-color: loaderBackgroundColor;
    border: 1px solid loaderBorderColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    vertical-align: middle;
    display: block;
    min-height: 40px;
    max-width: 45%;
    margin: auto;
    box-shadow: loaderBoxShadow;
    white-space: nowrap;
}

.loaderSvg {
    display: inline-block;
    width: 45px;
    text-align: center;
    height: 100%;
    margin: 1px;
}

.loaderSvg svg {
    fill: loaderSVGFill;
    margin: 20% auto;
    vertical-align: middle;
}

.label {
    display: inline-block;
    color: loaderLabelColor;
    font-family: mainFontFamily;
    font-weight: bold;
    white-space: pre-wrap;
    font-size: 0.85em;
    vertical-align: middle;
    width: 93%;
    margin: 7px 25px 7px 0;
}


