/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
/* Annotated CSS for the Editor presenter. */
@url background imageViewerBackground;

.imageViewer {
    display: block;
    margin: auto;
    height: 40%;
    background-image: background;
}
