/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
/**********************************************************************************************
   MENU BAR
 ***********************************************************************************************/

.menuBarTable {
    float: left;
    border: 0;
}

.menuBar,
.menuBarItem,
.menuBarItemOver,
.menuBarItemSelected,
.menuBarItemDisabled {
    height: 24px;
    box-sizing: border-box;
}

.menuBarItem,
.menuBarItemOver,
.menuBarItemSelected,
.menuBarItemDisabled {
    padding: 0px 15px;
    cursor: default;
    font-family: mainFontFamily;
    font-size: fontMenuSize;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}

.menuBar {
    width: 100%;
    background-color: mainMenuBkgColor;
    color: mainMenuFontColor;
}

.menuBarItem {
}

.menuBarItem:HOVER,
.menuBarItemOver:HOVER {
    color: mainMenuFontHoverColor;
    cursor: pointer;
}

.menuBarItemSelected {
    background-color: mainMenuSelectedBkgColor;
    color: mainMenuFontSelectedColor;
    box-shadow: inset 0 0 0 1px mainMenuSelectedBorderColor;
}

.menuBarItemDisabled {
    color: disabledMenuItemColor;
}

.leftPanel {
    float: left;
    height: inherit;
    white-space: nowrap;
}

.leftPanel .customComponent {
    float: left;
}

.rightPanel {
    float: right;
    height: inherit;
    white-space: nowrap;
}

.rightPanel .customComponent {
    float: right;
}

.panelSeparator {
    width: 4px;
    height: 17px;
    margin: 2px;
    float: inherit;
}

.panelSeparator div {
    height: 0;
    width: 4px;
    border-bottom: 1px solid #000000;
    margin-bottom: 2px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.23);
}